<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Generated tickets ID </h2>
    <h5> Please click to view the tickets</h5>
    <% for(let tickets of foundtickets) {%>
        <li><a href="/tickets/<%= tickets._id %>"><%= tickets._id %></a></li> 

    <%}%>
</body>
</html>